<form>
    <div class="sheet-body exalteddemake">
        {{#if data.addingCharms }}
        {{> systems/exalteddemake/templates/dialogues/add-roll-charm.html}}
        {{else}}
        {{#ifNotEquals data.rollType 'damage'}}
        {{> systems/exalteddemake/templates/dialogues/accuracy-roll.html}}
        {{/ifNotEquals}}
        {{#ifNotEquals data.rollType 'accuracy'}}
        {{> systems/exalteddemake/templates/dialogues/damage-roll.html}}
        {{/ifNotEquals}}
        <div class="d-flex">
            <button type="button" id="roll-button">Roll</button>
            <button type="button" id="cancel">Cancel</button>
        </div>
        {{/if}}
    </div>
</form>