<div class="exalteddemake" style="overflow:hidden">
  <div class="item-filter">
    <div class="check-button">
      <label class="resource-label">{{localize "ExD.IncludeWorldItems"}}: </label>
      <input class="world-filter" type="checkbox" data-filter="worldItems" {{checked filters.attribute.worldItems}} />
    </div>
    <h2>{{localize "ExD.Types"}}</h2>
    <div class="check-button">
      {{#each filters.type as |value filter|}}
      <label class="resource-label">{{localize value.display}}:</label>
      <input class="filter" type="checkbox" data-filter="{{filter}}" {{checked value.value}} />
      {{/each}}
    </div>

    <h2>{{localize "ExD.Filter"}}</h2>

    <div class="name filter-top">
      <label class="resource-label">{{localize "Name"}}</label>
      <input class="name-filter" type="text" data-filter="name" value="{{filters.attribute.name}}" />
    </div>
    <div class="description filter-top">
      <label class="resource-label">{{localize "Description"}}</label>
      <input class="description-filter" type="text" data-filter="description"
        value="{{filters.attribute.description}}" />
    </div>
    <h2>{{localize "ExD.CharmFilters"}}</h2>
    <div>
      <label class="resource-label">{{localize "ExD.Ability"}}: </label>
      <select class="charm-filter" name="filters.attribute.charmFilters.ability" data-type="String"
        data-filter="ability">
        {{#select filters.attribute.charmFilters.ability}}
        <option value=""></option>
        <option value="strength">{{localize "ExD.Strength"}}</option>
        <option value="dexterity">{{localize "ExD.Dexterity"}}</option>
        <option value="stamina">{{localize "ExD.Stamina"}}</option>
        <option value="charisma">{{localize "ExD.Charisma"}}</option>
        <option value="manipulation">{{localize "ExD.Manipulation"}}</option>
        <option value="appearance">{{localize "ExD.Appearance"}}</option>
        <option value="perception">{{localize "ExD.Perception"}}</option>
        <option value="intelligence">{{localize "ExD.Intelligence"}}</option>
        <option value="wits">{{localize "ExD.Wits"}}</option>
        <option value="archery">{{localize "ExD.Archery"}}</option>
        <option value="athletics">{{localize "ExD.Athletics"}}</option>
        <option value="awareness">{{localize "ExD.Awareness"}}</option>
        <option value="brawl">{{localize "ExD.Brawl"}}</option>
        <option value="bureaucracy">{{localize "ExD.Bureaucracy"}}</option>
        <option value="craft">{{localize "ExD.Craft"}}</option>
        <option value="empathy">{{localize "ExD.Empathy"}}</option>
        <option value="investigation">{{localize "ExD.Investigation"}}</option>
        <option value="larceny">{{localize "ExD.Larceny"}}</option>
        <option value="linguistics">{{localize "ExD.Linguistics"}}</option>
        <option value="lore">{{localize "ExD.Lore"}}</option>
        <option value="martialarts">{{localize "ExD.MartialArts"}}</option>
        <option value="medicine">{{localize "ExD.Medicine"}}</option>
        <option value="melee">{{localize "ExD.Melee"}}</option>
        <option value="occult">{{localize "ExD.Occult"}}</option>
        <option value="performance">{{localize "ExD.Performance"}}</option>
        <option value="presence">{{localize "ExD.Presence"}}</option>
        <option value="resistance">{{localize "ExD.Resistance"}}</option>
        <option value="ride">{{localize "ExD.Ride"}}</option>
        <option value="sail">{{localize "ExD.Sail"}}</option>
        <option value="socialize">{{localize "ExD.Socialize"}}</option>
        <option value="stealth">{{localize "ExD.Stealth"}}</option>
        <option value="survival">{{localize "ExD.Survival"}}</option>
        <option value="thrown">{{localize "ExD.Thrown"}}</option>
        <option value="war">{{localize "ExD.War"}}</option>
        <option value="evocation">{{localize "ExD.Evocation"}}</option>
        <option value="universal">{{localize "ExD.Universal"}}</option>
        <option value="other">{{localize "ExD.Other"}}</option>
        {{/select}}
      </select>
      <label class="resource-label">{{localize "ExD.Requirement"}}: </label>
      <select class="charm-filter" name="filters.attribute.charmFilters.requirement" data-type="String"
        data-filter="requirement">
        {{#select filters.attribute.charmFilters.requirement}}
        <option value=""></option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        {{/select}}
      </select>
      <label class="resource-label">{{localize "ExD.Essence"}}: </label>
      <select class="charm-filter" name="filters.attribute.charmFilters.essence" data-type="String"
        data-filter="essence">
        {{#select filters.attribute.charmFilters.essence}}
        <option value=""></option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        {{/select}}
      </select>
      <label class="resource-label">{{localize "ExD.CharmType"}}</label>
      <select class="charm-filter" name="filters.attribute.charmFilters.charmtype" data-type="String"
        data-filter="charmtype">
        {{#select filters.attribute.charmFilters.charmtype}}
        <option value=""></option>
        <option value="abyssal">{{localize "ExD.Abyssal"}}</option>
        <option value="alchemical">{{localize "ExD.Alchemical"}}</option>
        <option value="architect">{{localize "ExD.Architect"}}</option>
        <option value="dragonblooded">{{localize "ExD.Dragonblooded"}}</option>
        <option value="dreamsouled">{{localize "ExD.DreamSouled"}}</option>
        <option value="evocation">{{localize "ExD.Evocation"}}</option>
        <option value="exigent">{{localize "ExD.Exigent"}}</option>
        <option value="getimian">{{localize "ExD.Getimian"}}</option>
        <option value="hearteater">{{localize "ExD.Hearteater"}}</option>
        <option value="infernal">{{localize "ExD.Infernal"}}</option>
        <option value="janest">{{localize "ExD.Janest"}}</option>
        <option value="liminal">{{localize "ExD.Liminal"}}</option>
        <option value="lunar">{{localize "ExD.Lunar"}}</option>
        <option value="martialarts">{{localize "ExD.MartialArts"}}</option>
        <option value="sidereal">{{localize "ExD.Sidereal"}}</option>
        <option value="solar">{{localize "ExD.Solar"}}</option>
        <option value="sovereign">{{localize "ExD.Sovereign"}}</option>
        <option value="umbral">{{localize "ExD.Umbral"}}</option>
        <option value="other">{{localize "ExD.Other"}}</option>
        {{/select}}
      </select>
    </div>
  </div>
  <h2 class="mb-1">{{localize "ExD.ItemList"}}</h2>
  <div class="query-results">
    {{#each items as |item|}}
    <div class="search-item-row item-row cursor-pointer" data-item-id={{item.id}} data-filter-id={{item.filterId}}>
      <div class="item-image mr-1"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
      <div class="item-name">{{item.name}}</div>
    </div>
    {{/each}}
  </div>
</div>