<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div>
                <label class="resource-label">{{localize "ExD.Ability"}}: </label>
                <select name="system.ability" data-type="String">
                    {{#select system.ability}}
                        <option value="archery">{{localize "ExD.Archery"}}</option>
                        <option value="athletics">{{localize "ExD.Athletics"}}</option>
                        <option value="awareness">{{localize "ExD.Awareness"}}</option>
                        <option value="brawl">{{localize "ExD.Brawl"}}</option>
                        <option value="bureaucracy">{{localize "ExD.Bureaucracy"}}</option>
                        <option value="craft">{{localize "ExD.Craft"}}</option>
                        <option value="dodge">{{localize "ExD.Dodge"}}</option>
                        <option value="integrity">{{localize "ExD.Integrity"}}</option>
                        <option value="investigation">{{localize "ExD.Investigation"}}</option>
                        <option value="larceny">{{localize "ExD.Larceny"}}</option>
                        <option value="linguistics">{{localize "ExD.Linguistics"}}</option>
                        <option value="lore">{{localize "ExD.Lore"}}</option>
                        <option value="martialarts">{{localize "ExD.MartialArts"}}</option>
                        <option value="medicine">{{localize "ExD.Medicine"}}</option>
                        <option value="melee">{{localize "ExD.Melee"}}</option>
                        <option value="occult">{{localize "ExD.Occult"}}</option>
                        <option value="performance">{{localize "ExD.Performance"}}</option>
                        <option value="presence">{{localize "ExD.Presence"}}</option>
                        <option value="resistance">{{localize "ExD.Resistance"}}</option>
                        <option value="ride">{{localize "ExD.Ride"}}</option>
                        <option value="sail">{{localize "ExD.Sail"}}</option>
                        <option value="socialize">{{localize "ExD.Socialize"}}</option>
                        <option value="stealth">{{localize "ExD.Stealth"}}</option>
                        <option value="survival">{{localize "ExD.Survival"}}</option>
                        <option value="thrown">{{localize "ExD.Thrown"}}</option>
                        <option value="war">{{localize "ExD.War"}}</option>
                        <option value="other">{{localize "ExD.Other"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ExD.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "ExD.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/exalteddemake/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
