<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div>
                <label class="resource-label">{{localize "ExD.Ability"}}: </label>
                <select name="system.ability" data-type="String">
                    {{#select system.ability}}
                    <option value="strength">{{localize "ExD.Strength"}}</option>
                    <option value="dexterity">{{localize "ExD.Dexterity"}}</option>
                    <option value="stamina">{{localize "ExD.Stamina"}}</option>
                    <option value="charisma">{{localize "ExD.Charisma"}}</option>
                    <option value="manipulation">{{localize "ExD.Manipulation"}}</option>
                    <option value="appearance">{{localize "ExD.Appearance"}}</option>
                    <option value="perception">{{localize "ExD.Perception"}}</option>
                    <option value="intelligence">{{localize "ExD.Intelligence"}}</option>
                    <option value="wits">{{localize "ExD.Wits"}}</option>
                    <option value="archery">{{localize "ExD.Archery"}}</option>
                    <option value="athletics">{{localize "ExD.Athletics"}}</option>
                    <option value="awareness">{{localize "ExD.Awareness"}}</option>
                    <option value="brawl">{{localize "ExD.Brawl"}}</option>
                    <option value="bureaucracy">{{localize "ExD.Bureaucracy"}}</option>
                    <option value="craft">{{localize "ExD.Craft"}}</option>
                    <option value="dodge">{{localize "ExD.Dodge"}}</option>
                    <option value="integrity">{{localize "ExD.Integrity"}}</option>
                    <option value="investigation">{{localize "ExD.Investigation"}}</option>
                    <option value="larceny">{{localize "ExD.Larceny"}}</option>
                    <option value="linguistics">{{localize "ExD.Linguistics"}}</option>
                    <option value="lore">{{localize "ExD.Lore"}}</option>
                    <option value="martialarts">{{localize "ExD.MartialArts"}}</option>
                    <option value="medicine">{{localize "ExD.Medicine"}}</option>
                    <option value="melee">{{localize "ExD.Melee"}}</option>
                    <option value="occult">{{localize "ExD.Occult"}}</option>
                    <option value="performance">{{localize "ExD.Performance"}}</option>
                    <option value="presence">{{localize "ExD.Presence"}}</option>
                    <option value="resistance">{{localize "ExD.Resistance"}}</option>
                    <option value="ride">{{localize "ExD.Ride"}}</option>
                    <option value="sail">{{localize "ExD.Sail"}}</option>
                    <option value="socialize">{{localize "ExD.Socialize"}}</option>
                    <option value="stealth">{{localize "ExD.Stealth"}}</option>
                    <option value="survival">{{localize "ExD.Survival"}}</option>
                    <option value="thrown">{{localize "ExD.Thrown"}}</option>
                    <option value="war">{{localize "ExD.War"}}</option>
                    <option value="evocation">{{localize "ExD.Evocation"}}</option>
                    <option value="universal">{{localize "ExD.Universal"}}</option>
                    <option value="offensive">{{localize "ExD.Offensive"}}</option>
                    <option value="defensive">{{localize "ExD.Defensive"}}</option>
                    <option value="social">{{localize "ExD.Social"}}</option>
                    <option value="mobility">{{localize "ExD.Mobility"}}</option>
                    <option value="other">{{localize "ExD.Other"}}</option>
                    {{/select}}
                </select>
                <label class="resource-label">{{localize "ExD.Requirement"}}: </label>
                <select name="system.requirement" data-type="String">
                    {{#select system.requirement}}
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    {{/select}}
                </select>
                <label class="resource-label">{{localize "ExD.Essence"}}: </label>
                <select name="system.essence" data-type="String">
                    {{#select system.essence}}
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ExD.Description"}}</a>
        <a class="item" data-tab="costs">{{localize "ExD.Costs"}}</a>
        <a class="item" data-tab="bonuses">{{localize "ExD.RollBonuses"}}</a>
        <a class="item" data-tab="effects">{{localize "ExD.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="flex-center">
                <div class="resource-label">{{localize "ExD.Prerequisites"}} (Comma Separated)</div>
            </div>
            <input type="text" name="system.prerequisites" value="{{system.prerequisites}}" />
            <div class="flex-center mt-1">
                <div class="resource-label">{{localize "ExD.Keywords"}} <i
                        class="fas fa-info-circle show-keywords cursor-pointer"></i></div>
            </div>
            <textarea type="text" name="system.keywords" rows="2">{{system.keywords}}</textarea>
            <div class="grid grid-3col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "ExD.CharmType"}}</div>
                    <select name="system.charmtype" data-type="String">
                        {{#select system.charmtype}}
                        <option value="abyssal">{{localize "ExD.Abyssal"}}</option>
                        <option value="alchemical">{{localize "ExD.Alchemical"}}</option>
                        <option value="architect">{{localize "ExD.Architect"}}</option>
                        <option value="dragonblooded">{{localize "ExD.Dragonblooded"}}</option>
                        <option value="dreamsouled">{{localize "ExD.DreamSouled"}}</option>
                        <option value="evocation">{{localize "ExD.Evocation"}}</option>
                        <option value="exigent">{{localize "ExD.Exigent"}}</option>
                        <option value="getimian">{{localize "ExD.Getimian"}}</option>
                        <option value="hearteater">{{localize "ExD.Hearteater"}}</option>
                        <option value="infernal">{{localize "ExD.Infernal"}}</option>
                        <option value="janest">{{localize "ExD.Janest"}}</option>
                        <option value="liminal">{{localize "ExD.Liminal"}}</option>
                        <option value="lunar">{{localize "ExD.Lunar"}}</option>
                        <option value="martialarts">{{localize "ExD.MartialArts"}}</option>
                        <option value="sidereal">{{localize "ExD.Sidereal"}}</option>
                        <option value="solar">{{localize "ExD.Solar"}}</option>
                        <option value="sovereign">{{localize "ExD.Sovereign"}}</option>
                        <option value="umbral">{{localize "ExD.Umbral"}}</option>
                        <option value="other">{{localize "ExD.Other"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "ExD.Type"}}</div>
                    <input type="text" name="system.type" value="{{system.type}}" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExD.Duration"}}</div>
                    <input type="text" name="system.duration" value="{{system.duration}}" />
                </div>
            </div>
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        <div class="tab" data-group="primary" data-tab="costs">
            <div class="d-flex flex-center resources">
                <div>
                    <div class="resource-label">{{localize "ExD.Motes"}}</div>
                    <input type="number" name="system.cost.motes" value="{{system.cost.motes}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExD.Initiative"}}</div>
                    <input type="number" name="system.cost.initiative" value="{{system.cost.initiative}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExD.Anima"}}</div>
                    <input type="number" name="system.cost.anima" value="{{system.cost.anima}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExD.Willpower"}}</div>
                    <input type="number" name="system.cost.willpower" value="{{system.cost.willpower}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="grid grid-4col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "ExD.Health"}}</div>
                    <input type="number" name="system.cost.health" value="{{system.cost.health}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExD.HealthType"}}</div>
                    <select name="system.cost.healthtype" data-type="String">
                        {{#select system.cost.healthtype}}
                        <option value="bashing">{{localize "ExD.Bashing"}}</option>
                        <option value="lethal">{{localize "ExD.Lethal"}}</option>
                        <option value="aggravated">{{localize "ExD.Aggravated"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "ExD.Aura"}}</div>
                    <select name="system.cost.aura" data-type="String">
                        {{#select system.cost.aura}}
                        <option value=""></option>
                        <option value="any">{{localize "ExD.Any"}}</option>
                        <option value="air">{{localize "ExD.Air"}}</option>
                        <option value="earth">{{localize "ExD.Earth"}}</option>
                        <option value="fire">{{localize "ExD.Fire"}}</option>
                        <option value="water">{{localize "ExD.Water"}}</option>
                        <option value="wood">{{localize "ExD.Wood"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <div class="resource-label">{{localize "ExD.XP"}}</div>
                    <input type="number" name="system.cost.xp" value="{{system.cost.xp}}" data-dtype="Number" />
                </div>
            </div>
            <div class="flex-center">
                <div class="resource-label">{{localize "ExD.Craft"}} {{localize "ExD.Cost"}}</div>
            </div>
            <div class="grid grid-3col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "ExD.Silver"}}</div>
                    <input type="number" name="system.cost.silverxp" value="{{system.cost.silverxp}}"
                        data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExD.Gold"}}</div>
                    <input type="number" name="system.cost.goldxp" value="{{system.cost.goldxp}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExD.White"}}</div>
                    <input type="number" name="system.cost.whitexp" value="{{system.cost.whitexp}}"
                        data-dtype="Number" />
                </div>
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="bonuses">
            <div class="resource flex-center">
                <label class="resource-label">{{localize "ExD.DiceRollModifiers"}}</label>
            </div>

            <div>
                <div class="resource grid grid-3col flex-center">
                    <div>
                        <label class="resource-label">{{localize "ExD.DiceBonus"}} </label>
                        <input name="system.diceroller.bonusdice" value="{{system.diceroller.bonusdice}}" type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.SuccessBonus"}} </label>
                        <input name="system.diceroller.bonussuccesses" value="{{system.diceroller.bonussuccesses}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.Difficulty"}} </label>
                        <input name="system.diceroller.difficulty" value="{{system.diceroller.difficulty}}"
                            type="number">
                    </div>
    
                    <div>
                        <label class="resource-label">{{localize "ExD.DoubleSuccess"}} + </label>
                        <input name="system.diceroller.doublesuccess" value="{{system.diceroller.doublesuccess}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.RerollNumDice"}} </label>
                        <input name="system.diceroller.rerolldice" value="{{system.diceroller.rerolldice}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.DicetoSuccesses"}} </label>
                        <input name="system.diceroller.diceToSuccesses" value="{{system.diceroller.diceToSuccesses}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.RerollFailed"}} </label>
                        <div>
                            <input type="checkbox" name="system.diceroller.rerollfailed"
                                value="system.diceroller.rerollfailed" {{checked system.diceroller.rerollfailed}}>
                        </div>
                    </div>
                </div>
            </div>

            <div class="resource flex-center">
                <label class="resource-label">{{localize "ExD.Reroll"}}</label>
            </div>
            <div class="resource d-flex flex-center">
                <div>
                    <div>1</div>
                    <input name="system.diceroller.reroll.one" value="system.diceroller.reroll.one" type="checkbox"
                        {{checked system.diceroller.reroll.one}}>
                </div>
                <div>
                    <div>2</div>
                    <input name="system.diceroller.reroll.two" value="system.diceroller.reroll.two" type="checkbox"
                        {{checked system.diceroller.reroll.two}}>
                </div>
                <div>
                    <div>3</div>
                    <input name="system.diceroller.reroll.three" value="system.diceroller.reroll.three" type="checkbox"
                        {{checked system.diceroller.reroll.three}}>
                </div>
                <div>
                    <div>4</div>
                    <input name="system.diceroller.reroll.four" value="system.diceroller.reroll.four" type="checkbox"
                        {{checked system.diceroller.reroll.four}}>
                </div>
                <div>
                    <div>5</div>
                    <input name="system.diceroller.reroll.five" value="system.diceroller.reroll.five" type="checkbox"
                        {{checked system.diceroller.reroll.five}}>
                </div>
                <div>
                    <div>6</div>
                    <input name="system.diceroller.reroll.six" value="system.diceroller.reroll.six" type="checkbox"
                        {{checked system.diceroller.reroll.six}}>
                </div>
                <div>
                    <div>7</div>
                    <input name="system.diceroller.reroll.seven" value="system.diceroller.reroll.seven" type="checkbox"
                        {{checked system.diceroller.reroll.seven}}>
                </div>
                <div>
                    <div>8</div>
                    <input name="system.diceroller.reroll.eight" value="system.diceroller.reroll.eight" type="checkbox"
                        {{checked system.diceroller.reroll.eight}}>
                </div>
                <div>
                    <div>9</div>
                    <input name="system.diceroller.reroll.nine" value="system.diceroller.reroll.nine" type="checkbox"
                        {{checked system.diceroller.reroll.nine}}>
                </div>
                <div>
                    <div>10</div>
                    <input name="system.diceroller.reroll.ten" value="system.diceroller.reroll.ten" type="checkbox"
                        {{checked system.diceroller.reroll.ten}}>
                </div>
            </div>
            <div class="flex-center resource-label" style="font-weight: bold;">
                Damage
            </div>
            <div>
                <div class="resource grid grid-3col flex-center">
                    <div>
                        <label class="resource-label">{{localize "ExD.DamageDice"}} </label>
                        <input type="number" name="system.diceroller.damage.bonusdice"
                            value="{{system.diceroller.damage.bonusdice}}">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.DamageSuccesses"}} </label>
                        <input type="number" name="system.diceroller.damage.bonussuccesses"
                            value="{{system.diceroller.damage.bonussuccesses}}">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.DoubleSuccess"}} + </label>
                        <input type="number" name="system.diceroller.damage.doublesuccess"
                            value="{{system.diceroller.damage.doublesuccess}}">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.Difficulty"}} </label>
                        <input type="number" name="system.diceroller.damage.difficulty"
                            value="{{system.diceroller.damage.difficulty}}">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.Overwhelming"}} </label>
                        <input type="number" name="system.diceroller.damage.overwhelming"
                            value="{{system.diceroller.damage.overwhelming}}">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.PostSoakDamage"}} </label>
                        <input type="number" name="system.diceroller.damage.postsoakdamage"
                            value="{{system.diceroller.damage.postsoakdamage}}">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExD.ThreshholdToDamage"}} </label>
                        <div>
                            <input type="checkbox" name="system.diceroller.damage.threshholdtodamage"
                                value="system.diceroller.damage.threshholdtodamage" {{checked system.diceroller.damage.threshholdtodamage}}>
                        </div>
                    </div>
                </div>
                <div class="resource flex-center">
                    <label class="resource-label">{{localize "ExD.Reroll"}}</label>
                </div>
                <div class="resource d-flex flex-center">
                    <div>
                        <div>1</div>
                        <input name="system.diceroller.damage.reroll.one" value="system.diceroller.damage.reroll.one"
                            type="checkbox" {{checked system.diceroller.damage.reroll.one}}>
                    </div>
                    <div>
                        <div>2</div>
                        <input name="system.diceroller.damage.reroll.two" value="system.diceroller.damage.reroll.two"
                            type="checkbox" {{checked system.diceroller.damage.reroll.two}}>
                    </div>
                    <div>
                        <div>3</div>
                        <input name="system.diceroller.damage.reroll.three"
                            value="system.diceroller.damage.reroll.three" type="checkbox" {{checked
                            system.diceroller.damage.reroll.three}}>
                    </div>
                    <div>
                        <div>4</div>
                        <input name="system.diceroller.damage.reroll.four" value="system.diceroller.damage.reroll.four"
                            type="checkbox" {{checked system.diceroller.damage.reroll.four}}>
                    </div>
                    <div>
                        <div>5</div>
                        <input name="system.diceroller.damage.reroll.five" value="system.diceroller.damage.reroll.five"
                            type="checkbox" {{checked system.diceroller.damage.reroll.five}}>
                    </div>
                    <div>
                        <div>6</div>
                        <input name="system.diceroller.damage.reroll.six" value="system.diceroller.damage.reroll.six"
                            type="checkbox" {{checked data.damage.reroll.six}}>
                    </div>
                    <div>
                        <div>7</div>
                        <input name="system.diceroller.damage.reroll.seven"
                            value="system.diceroller.damage.reroll.seven" type="checkbox" {{checked
                            system.diceroller.damage.reroll.seven}}>
                    </div>
                    <div>
                        <div>8</div>
                        <input name="system.diceroller.damage.reroll.eight"
                            value="system.diceroller.damage.reroll.eight" type="checkbox" {{checked
                            system.diceroller.damage.reroll.eight}}>
                    </div>
                    <div>
                        <div>9</div>
                        <input name="system.diceroller.damage.reroll.nine" value="system.diceroller.damage.reroll.nine"
                            type="checkbox" {{checked system.diceroller.damage.reroll.nine}}>
                    </div>
                    <div>
                        <div>10</div>
                        <input name="system.diceroller.damage.reroll.ten" value="system.diceroller.damage.reroll.ten"
                            type="checkbox" {{checked system.diceroller.damage.reroll.ten}}>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/exalteddemake/templates/actor/active-effects.html}}
        </div>

    </section>
</form>