<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="d-flex flex-center">
                <label class="resource-label">{{localize "ExD.Strength"}}: </label>
                <select name="system.strength" data-type="String">
                    {{#select system.strength}}
                    <option value="minor">{{localize "ExD.Minor"}}</option>
                    <option value="major">{{localize "ExD.Major"}}</option>
                    <option value="defining">{{localize "ExD.Defining"}}</option>
                    {{/select}}
                </select>
                <label class="resource-label">{{localize "ExD.Type"}}: </label>
                <select name="system.intimacytype" data-type="String">
                    {{#select system.intimacytype}}
                    <option value="tie">{{localize "ExD.Tie"}}</option>
                    <option value="principle">{{localize "ExD.Principle"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ExD.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "ExD.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/exalteddemake/templates/actor/active-effects.html}}
        </div>

    </section>
</form>